{% include('header.twig') %}
<section class="py-5">
    <div class="container">
        <h2> Confirmation ajout d'utilisateur  </h2>
        <br>

        <p> L'utilisateur a bien ete ajoute a la base de donnees </p>
        <button type="button" class="btn btn-link"><a href="utilisateur.php">&lt Liste Utilisateur</a></button>
        <button type="button" class="btn btn-link"><a href="utilisateur-create.php">&lt Ajout utilisateur</a></button>
    </div>
</section>


{% include('footer.twig') %}