{% include('header.twig') %}
<section class="py-5">
    <div class="container">
        <h2> Confirmation ajout de l'emprunt  </h2>
        <br>

        <p> L'emprunt a bien ete ajoute a la base de donnees </p>
        <button type="button" class="btn btn-link"><a href="emprunt.php">&lt Liste d'emprunt</a></button>
        <button type="button" class="btn btn-link"><a href="emprunt-create.php">&lt Faire un autre emprunt</a></button>
    </div>
</section>


{% include('footer.twig') %}