{% include('header.twig') %}
<section class="py-5">
 <div class="container">
  <h2> Confirmation modification de materiel  </h2>
  <br>

  <p> Le materiel a bien ete modifie dans la base de donnees </p>
  <button type="button" class="btn btn-link"><a href="materiel.php">&lt Liste materiel</a></button>
  <button type="button" class="btn btn-link"><a href="materiel-create.php">&lt Ajout materiel</a></button>
 </div>
</section>

{% include('footer.twig') %}