{% include('header.twig') %}
<section class="py-5">
    <div class="container">
        <h2> Confirmation ajout d'un etudiant  </h2>
        <br>

        <p> L'etudiant a bien ete ajoute a la base de donnees </p>
        <button type="button" class="btn btn-link"><a href="etudiant.php">&lt Liste etudiant</a></button>
        <button type="button" class="btn btn-link"><a href="etudiant-create.php">&lt Ajout etudiant</a></button>
    </div>
</section>


{% include('footer.twig') %}