{% include('header.twig') %}
<section class="py-5">
    <div class="container">
        <h2> Confirmation modification de l'utilisateur  </h2>
        <br>

        <p> L'utilisateur a bien ete modifie dans la base de donnees </p>
        <button type="button" class="btn btn-link"><a href="materiel.php">&lt Liste d'utilisateur</a></button>
    </div>
</section>

{% include('footer.twig') %}