{% include('header.twig') %}


<!-- Page Content -->
	<section class="py-5">
    	<div class="container">
      		<h2> Confirmation connexion</h2>
			<br>
			<p> {{ messageAuth }} </p>
			<a class="btn btn-lg btn-primary btn-block" href={{ page }}>Suivant</a>
    	</div>
  	</section>


{% include('footer.twig') %}