{% include('header.twig') %}

  <br><br><br>
  <h2>Liste des étudiants</h2>
  <ul class="list-group">
    {% for etudiant in etudiant %}

        <li class="list-group-item">{{ etudiant.Id}} - {{ etudiant.Nom}} - {{etudiant.Prenom}}</li>
    {% endfor %}
</ul>
<br><br>
{% include('footer.twig') %}

