{% include('header.twig') %}

  <div class="page">
    <button type="button" class="btn btn-link"><a href="etudiant.php">&lt Retour</a></button>
    <h2> Etudiant Details {{ id }}</h2>
  </div>

{% include('footer.twig') %}

