    <!-- Footer -->
    <footer class="py-4 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2018 - Inventorix2000</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../_lib/vendor/jquery/jquery.min.js"></script>
    <script src="../_lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../_lib/node_modules/chart.js/dist/Chart.js"></script>
  </body>
</html>