{% include('header.twig') %}

<section class="py-5">
    <div class="container">
        <h2> Les codes Barres sont générés dans le dossier ASSET </h2>
        <br>

        <button type="button" class="btn btn-link"><a href="home.php">&lt Home</a></button>
    </div>
</section>






{% include('footer.twig') %}