{% include('header.twig') %}

<div class="container">
<br><br><br><br>
      <h1> Liste Livres</h1>
  	 	
  	 <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Titre</th>
      <th scope="col">Description</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
  	 
  	 
  </body>
</html>

