{% include('header.twig') %}

<div class="container">

	<h1 style="text-align: center;">{{ titleName }}</h1>
	<br>
	<table style="width: 100%; ">
		<tr>
			<td>
				<a href="listeLivres.php"><img alt="Livre" style="width: 160px; height: 160px;"  class="rounded mx-auto d-block" src="./rsrc/icons/png_icons/256px/books-icon1012.png"></a>
			</td>
			<td>
				<a href="#listLivres"><img alt="Livre" style="width: 160px; height: 160px;"  class="rounded mx-auto d-block" src="./rsrc/icons/png_icons/256px/phonebook-icon1102.png"></a>
			</td>
			<td>
				<a href="#listLivres"><img alt="Livre" style="width: 160px; height: 160px;"  class="rounded mx-auto d-block" src="./rsrc/icons/png_icons/256px/charging-icon262.png"></a>
			</td>
			<td>
				<a href="index.php"><img alt="Livre" style="width: 160px; height: 160px;"  class="rounded mx-auto d-block" src="./rsrc/icons/png_icons/256px/block-icon539.png"></a>
			</td>
		</tr>
	
	
	</table>		




    </div> <!-- /container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="./_lib/bootstrap/js/bootstrap.min.js" ></script>
  </body>
</html>

