{% include('header.twig') %}

<!-- Page Content -->
	<section class="py-5">
    	<div class="container">
      		<button type="button" class="btn btn-link"><a href="materiel.php">&lt Retour</a></button>
      		<h2>
       			Formulaire d'ajout de materiel
      		</h2>
			<br> 
      		<form  action ='search.php' method='post'>
 				
                 <div class="form-row">
    				<div class="form-group col-md-6">
      					<label for="codeBarre"> Recherche par Code Barre</label>
      					<input type="number" class="form-control" id="codeBarre" placeholder="Code Barre" name="code">
    				</div>
				</div>

  				<div class="form-row">
    				<label for="description">Recherche par Description</label>
    				<input type="text" class="form-control" id="description" placeholder="Description" name="description">
 				</div>

                <div class="form-row">
    				<label for="nom">Recherche par Nom </label>
    				<input type="text" class="form-control" id="nom" placeholder="Nom" name="nom">
 				</div>
			 <input type='submit' value= 'OK'/>

			</form>
    	</div>
  	</section>
{% include('footer.twig') %}