{% include('header.twig') %}
<section class="py-5">
  <div class="container">
    <button type="button" class="btn btn-link"><a href="utilisateur.php">&lt Retour</a></button>
    <h2>
      Formulaire d'ajout de d'utilisateur
    </h2>
    <br>
    <form  action ='confirmationUtilisateur.php'  method='post'>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="nomUtilisateur">Nom</label>
          <input type="text" class="form-control" id="codeBarre" placeholder="Nom" name="nom" required>
        </div>
        <div class="form-group col-md-6">
          <label for="prenomUtilisateur">Prenom</label>
          <input type="text" class="form-control" id="prenomUtilisateur" placeholder="Nom" name="prenom" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="mailUtilisateur">Mail</label>
          <input type="email" class="form-control" id="mailUtilisateur" placeholder="exemple: toto@gmail.com" name="mail" required>
        </div>
        <div class="form-group col-md-6">
          <label for="loginUtilisateur">Login</label>
          <input type="text" class="form-control" id="loginUtilisateur" placeholder="login" name="login" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="mdp">Mot de Passe</label>
          <input type="password" class="form-control" id="mailUtilisateur" placeholder="entrer un mot de passe" name="mdp" required>
        </div>
        <div class="form-group col-md-6">
          <label for="mdpConfirmation">confirmation mot de passe</label>
          <input type="password" class="form-control" id="mdpConfirmation" placeholder="repetez le mot de passe" name="mdpConfirmation" required>
        </div>
      </div>

      <input class="btn btn-lg btn-primary btn-block" type='submit' value= 'Ajouter'/>
    </form>
  </div>
</section>


{% include('footer.twig') %}
